$font_heading: Georgia, serif;
$font_main: Arial, sans-serif;
$color__background: rgb(146, 38, 28);
$color__darkRed: rgb(103, 17, 9);
$color__lightGreen: rgb(200, 253, 197);
$color__grey: #a2abb0;
$color__white: #ffffff;
$color__black: #000000;
$color__background2: #326f0e;